*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    font-family: Arial, sans-serif;
}

.container{
    text-align: center;
}

.title{
    color: white;
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 2px;
}

.calculator{
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.5);
}

#display{
    width: 100%;
    height: 70px;
    border: none;
    outline: none;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 28px;
    text-align: right;
    background: #e2e8f0;
    color: #0f172a;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    gap: 15px;
}

button{
    height: 65px;
    border: none;
    border-radius: 15px;
    font-size: 22px;
    cursor: pointer;
    background: #334155;
    color: white;
    transition: 0.3s;
}

button:hover{
    transform: translateY(-3px);
    background: #3b82f6;
}

button:active{
    transform: scale(0.95);
}

.operator{
    background: #f59e0b;
}

.operator:hover{
    background: #fbbf24;
}

.equal{
    background: #10b981;
    grid-row: span 2;
    height: 145px;
}

.equal:hover{
    background: #34d399;
}

.zero{
    grid-column: span 2;
}

@media(max-width:500px){

    .buttons{
        grid-template-columns: repeat(4, 60px);
        gap: 10px;
    }

    button{
        height: 55px;
        font-size: 18px;
    }

    .equal{
        height: 120px;
    }

    .title{
        font-size: 30px;
    }
}